.container {
    margin: auto;
}

#navbar {
    background-color: #0d47a1;
    font-family: 'Parisienne', cursive;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color:#cfd8dc;
    /* border-bottom: 2px solid white; */
    padding-top: 2px;
}

#words {
    text-align: center;
    background: white;
    color: #fff;
    opacity: 0.5;
    margin-top: 375px;
}

#words h1, p {
    color: #0d47a1;
}

#words a {
    border-bottom: 2px solid #0d47a1;
    color: #0d47a1;
}

#words a:hover {
    color: #380808;
}

#ourstory h1 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    color: #0d47a1;
}

#ourstory p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;  
    color: black; 
}

#showcase {
    background: url(../images/benMel.jpg) no-repeat center;
}

#showcase .container {
    height: 600px;
}

#showcase h1, h2 {
    font-size: 25px;
    color: navy;
}

#showcase p {
    font-size: 18px;
    color: navy;
}

#bridalparty {
    background: url(../images/wedding.jpg);
    padding: 20px;
}

#accommodations {
    background-size: 1150px;
    margin-bottom: 30px;
    height: 600px;
}


.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #0d47a1;
    text-align: center;
}

#orlando h5 {
    text-align: center;
    color: #0d47a1;
}

#orlando h2 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 50px;
    color: #0d47a1;
}

#wedding {
    background-image: url(../images/silver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#shiny {
    background-image: url(../images/silver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#ourwedding h3 {
    font-family: 'Parisienne', cursive;
    color: navy;
    text-align: center;
}

#ourwedding h5 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#ourwedding h6 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

#ourwedding a {
    border-bottom: 2px solid #9fc0db
}

#ourwedding a:hover {
    color: #380808;
}

#ourwedding a {
    color: #9fc0db;
}

#weddingparty h3, h4 {
    font-family: 'Parisienne', cursive;
    color: navy;
    text-align: center;
}

#weddingparty p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

#hotels p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

#hotels a {
    border-bottom: 2px solid #9fc0db;
    color: #9fc0db;
}

#hotels a:hover {
    color: #9fc0db;
}

#hotels col {
    float: left;
}

#hotels h3 {
    font-family: 'Parisienne', cursive;
    color: navy;
    text-align: center;
}

#modation {
    background-image: url(../images/silver.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

#bestcity {
    background-image: url(../images/silver.jpg);
    background-size: cover;
}

#orlando {
    margin: 0;
 }

 @media screen and (max-width: 600px) {
    #hotels .card {
      width: 75%
    }
}

#orlando .carousel {
    margin-top: 0;
}