.container {
    margin: auto;
}

#main-header {
    border-bottom: 1px solid navy;
}

#navbar li {
    display: inline;
    padding-right: 20px;
    list-style: none;
    font-size: 18px;
}

#navbar a {
    text-decoration: none;
    color: silver;
}

#navbar a:hover {
    color: navy;
    border-bottom: 2px solid navy;
    padding-bottom: 2px;
}

h1 {
    text-decoration: none;
    color: silver;
}

h2 {
    color: navy;
}

#showcase {
    background: url(../images/benMel.jpg) no-repeat center;
    border-bottom: 1px solid navy;
    margin-bottom: 30px;
}

#showcase .row {
    height: 600px;
}

#showcase h1, h2 {
    font-size: 25px;
    color: navy;
}

#showcase p {
    font-size: 18px;
    color: navy;
}

#showcase .showcase-content {
    background: white;
    color: #fff;
    opacity: 0.5;
    padding: 0px;
    margin-top: 300px;
}

#bridalparty {
    background: url(../images/wedding.jpg);
    padding: 20px;
}

#accommodations {
    background: url(../images/candlelight.jpg);
    background-size: 1150px;
    margin-bottom: 30px;
    height: 600px;
}

#main-footer {
    padding-bottom: 10px;
}
